src/glad.c linguist-vendored
include/glad/glad.h linguist-vendored
include/KHR/khrplatform.h linguist-vendored


*.comp linguist-language=GLSL
*.vert linguist-language=GLSL
*.frag linguist-language=GLSL
materialviewer.AppDir/**/* linguist-vendored
