[submodule "include/zstd"]
	path = include/zstd
	url = https://github.com/facebook/zstd.git
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "include/OBJ-Loader"]
	path = include/OBJ-Loader
	url = https://github.com/Bly7/OBJ-Loader.git
[submodule "include/freetype"]
	path = include/freetype
	url = https://github.com/freetype/freetype.git
[submodule "include/glfw"]
	path = include/glfw
	url = https://github.com/glfw/glfw.git
